html(lang="en")
    head
        meta(charset="UFT-8")
        meta(name="")
        title My App
    body
        br
        h1 Home
        .test Content of pages
        br
        a(href="/products.html") Products
        br
        a(href="/services.html") Services