html(lang="en")
    head
        meta(charset="UFT-8")
        meta(name="")
        title My App
    body
        br
        p Home 
        br
        a(href="/products.html") Products
        br
        a(href="/services.html") Services